page-about-us {
    font-family: Calibri;
    ion-content{
        font-size: 1.4em;
    }
    img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        display: block;
        width: 70%;
    }
}
